        <%- include('includes/header.ejs') %>

    </head>

    <body style="background-color: snow;">
        <%- include('includes/navbar.ejs') %>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/stocks">Stocks</a></li>
                <li class="breadcrumb-item active" aria-current="page"><% if (path === '/create') { %> Create <% } else { %> <%= stock.symbol %> <% } %></li>
            </ol>
        </nav>

        <h1 style="padding: 10px 40px;"><% if (path === '/create') { %> Create <% } else { %> Update <% } %></h1>

        <div class="container" style="width: 100%;">
            <% if (path === '/create') { %>
                <form action="/admin/stock/create" method="post">
                    <div class="form-group">
                        <label for="symbol">Stock Symbol</label>
                        <input type="symbol" name="symbol" class="form-control" id="symbol">
                    </div>
                    <div class="form-group">
                        <label for="name">Company Name</label>
                        <input type="name" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="exchange">Stock Exchange</label>
                        <input type="exchange" name="exchange" class="form-control" id="exchange">
                    </div>
                    <div class="form-group">
                        <label for="currency">Currency</label>
                        <input type="currency" name="currency" class="form-control" id="currency">
                    </div>
                    <div class="form-group">
                        <label for="sector">Sector</label>
                        <input type="sector" name="sector" class="form-control" id="sector">
                    </div>
                    <div class="form-group">
                        <label for="industry">Industry</label>
                        <input type="industry" name="industry" class="form-control" id="industry">
                    </div>
                    <div class="form-group">
                        <label for="commonSharesOutstanding">Common Shares Outstanding</label>
                        <input type="commonSharesOutstanding" name="commonSharesOutstanding" class="form-control" id="commonSharesOutstanding">
                    </div>
                    <div class="form-group">
                        <label for="marketPricePerShare">Market Price Per Share</label>
                        <input type="marketPricePerShare" name="marketPricePerShare" class="form-control" id="marketPricePerShare">
                    </div>
                    <div class="form-group">
                        <label for="marketCapitalization">Market Capitalization</label>
                        <input type="marketCapitalization" name="marketCapitalization" class="form-control" id="marketCapitalization">
                    </div>
                    <div class="form-group">
                        <label for="beta">Beta</label>
                        <input type="beta" name="beta" class="form-control" id="beta">
                    </div>
                    <div class="form-group">
                        <label for="currentAnnualDividendPerShare">Current Annual Dividend Per Share (DPS)</label>
                        <input type="currentAnnualDividendPerShare" name="currentAnnualDividendPerShare" class="form-control" id="currentAnnualDividendPerShare">
                    </div>
                    <div class="form-group">
                        <label for="currentAnnualEarningsPerShare">Current Annual Earnings Per Share (EPS)</label>
                        <input type="currentAnnualEarningsPerShare" name="currentAnnualEarningsPerShare" class="form-control" id="currentAnnualEarningsPerShare">
                    </div>
                    <div class="form-group">
                        <label for="projectedAnnualDividend">Projected Annual Dividend</label>
                        <input type="projectedAnnualDividend" name="projectedAnnualDividend" class="form-control" id="projectedAnnualDividend">
                    </div>
                    <div class="form-group">
                        <label for="dividendYield">10 Year Trailing (10YT) Dividend Yield</label>
                        <input type="dividendYield" name="dividendYield" class="form-control" id="dividendYield">
                    </div>
                    <div class="form-group">
                        <label for="averageAnnualSharePriceGrowth">10YT Average Annual Share Price Growth</label>
                        <input type="averageAnnualSharePriceGrowth" name="averageAnnualSharePriceGrowth" class="form-control" id="averageAnnualSharePriceGrowth">
                    </div>
                    <div class="form-group">
                        <label for="annualizedTotalReturn">10YT Annualized Total Return</label>
                        <input type="annualizedTotalReturn" name="annualizedTotalReturn" class="form-control" id="annualizedTotalReturn">
                    </div>
                    <div class="form-group">
                        <label for="consecutiveDividend"># of Consecutive Years of Dividend Growth</label>
                        <input type="consecutiveDividend" name="consecutiveDividend" class="form-control" id="consecutiveDividend">
                    </div>
                    <div class="form-group">
                        <label for="averageAnnualDividendGrowth">5YT Average Annual Dividend Growth</label>
                        <input type="averageAnnualDividendGrowth" name="averageAnnualDividendGrowth" class="form-control" id="averageAnnualDividendGrowth">
                    </div>
                    <div class="form-group">
                        <label for="averageAnnualEarningsGrowth">5YT Average Annual Earnings Growth</label>
                        <input type="averageAnnualEarningsGrowth" name="averageAnnualEarningsGrowth" class="form-control" id="averageAnnualEarningsGrowth">
                    </div>
                    <div class="form-group">
                        <label for="dividendPayoutRatio">5YT Dividend Payout Ratio</label>
                        <input type="dividendPayoutRatio" name="dividendPayoutRatio" class="form-control" id="dividendPayoutRatio">
                    </div>
                    <div class="form-group">
                        <label for="priceEarningsRatio">5YT Price-to-Earnings Ratio</label>
                        <input type="priceEarningsRatio" name="priceEarningsRatio" class="form-control" id="priceEarningsRatio">
                    </div>
                    <div class="form-group">
                        <label for="netProfitMargin">5YT Net Profit Margin</label>
                        <input type="netProfitMargin" name="netProfitMargin" class="form-control" id="netProfitMargin">
                    </div>
                    <div class="form-group">
                        <label for="returnOnEquityRatio">5YT Return-on-Equity Ratio</label>
                        <input type="returnOnEquityRatio" name="returnOnEquityRatio" class="form-control" id="returnOnEquityRatio">
                    </div>
                    <div class="form-group">
                        <label for="quickRatio">5YT Acid Test (Quick) Ratio</label>
                        <input type="quickRatio" name="quickRatio" class="form-control" id="quickRatio">
                    </div>
                    <div class="form-group">
                        <label for="debtCoveringRatio">5YT Debt Covering Ratio</label>
                        <input type="debtCoveringRatio" name="debtCoveringRatio" class="form-control" id="debtCoveringRatio">
                    </div>
                    <div class="form-group">
                        <label for="freeCashFlow">1YT Free Cash Flow</label>
                        <input type="freeCashFlow" name="freeCashFlow" class="form-control" id="freeCashFlow">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            <% } else { %>
                <form action="/admin/stock/<%= stock.symbol %>/update" method="post">
                    <div class="form-group">
                        <label for="symbol">Stock Symbol</label>
                        <input type="symbol" name="symbol" class="form-control" id="symbol" value="<%= stock.symbol %>">
                    </div>
                    <div class="form-group">
                        <label for="name">Company Name</label>
                        <input type="name" name="name" class="form-control" id="name" value="<%= stock.name %>">
                    </div>
                    <div class="form-group">
                        <label for="exchange">Stock Exchange</label>
                        <input type="exchange" name="exchange" class="form-control" id="exchange" value="<%= stock.exchange %>">
                    </div>
                    <div class="form-group">
                        <label for="currency">Currency</label>
                        <input type="currency" name="currency" class="form-control" id="currency" value="<%= stock.currency %>">
                    </div>
                    <div class="form-group">
                        <label for="sector">Sector</label>
                        <input type="sector" name="sector" class="form-control" id="sector" value="<%= stock.sector %>">
                    </div>
                    <div class="form-group">
                        <label for="industry">Industry</label>
                        <input type="industry" name="industry" class="form-control" id="industry" value="<%= stock.industry %>">
                    </div>
                    <div class="form-group">
                        <label for="commonSharesOutstanding">Common Shares Outstanding</label>
                        <input type="commonSharesOutstanding" name="commonSharesOutstanding" class="form-control" id="commonSharesOutstanding" value="<%= stock.commonSharesOutstanding %>">
                    </div>
                    <div class="form-group">
                        <label for="marketPricePerShare">Market Price Per Share</label>
                        <input type="marketPricePerShare" name="marketPricePerShare" class="form-control" id="marketPricePerShare" value="<%= stock.marketPricePerShare %>">
                    </div>
                    <div class="form-group">
                        <label for="marketCapitalization">Market Capitalization</label>
                        <input type="marketCapitalization" name="marketCapitalization" class="form-control" id="marketCapitalization" value="<%= stock.marketCapitalization %>">
                    </div>
                    <div class="form-group">
                        <label for="beta">Beta</label>
                        <input type="beta" name="beta" class="form-control" id="beta" value="<%= stock.beta %>">
                    </div>
                    <div class="form-group">
                        <label for="currentAnnualDividendPerShare">Current Annual Dividend Per Share (DPS)</label>
                        <input type="currentAnnualDividendPerShare" name="currentAnnualDividendPerShare" class="form-control" id="currentAnnualDividendPerShare" value="<%= stock.currentAnnualDividendPerShare %>">
                    </div>
                    <div class="form-group">
                        <label for="currentAnnualEarningsPerShare">Current Annual Earnings Per Share (EPS)</label>
                        <input type="currentAnnualEarningsPerShare" name="currentAnnualEarningsPerShare" class="form-control" id="currentAnnualEarningsPerShare" value="<%= stock.currentAnnualEarningsPerShare %>">
                    </div>
                    <div class="form-group">
                        <label for="projectedAnnualDividend">Projected Annual Dividend</label>
                        <input type="projectedAnnualDividend" name="projectedAnnualDividend" class="form-control" id="projectedAnnualDividend" value="<%= stock.projectedAnnualDividend %>">
                    </div>
                    <div class="form-group">
                        <label for="dividendYield">10 Year Trailing (10YT) Dividend Yield</label>
                        <input type="dividendYield" name="dividendYield" class="form-control" id="dividendYield" value="<%= stock.dividendYield %>">
                    </div>
                    <div class="form-group">
                        <label for="averageAnnualSharePriceGrowth">10YT Average Annual Share Price Growth</label>
                        <input type="averageAnnualSharePriceGrowth" name="averageAnnualSharePriceGrowth" class="form-control" id="averageAnnualSharePriceGrowth" value="<%= stock.averageAnnualSharePriceGrowth %>">
                    </div>
                    <div class="form-group">
                        <label for="annualizedTotalReturn">10YT Annualized Total Return</label>
                        <input type="annualizedTotalReturn" name="annualizedTotalReturn" class="form-control" id="annualizedTotalReturn" value="<%= stock.annualizedTotalReturn %>">
                    </div>
                    <div class="form-group">
                        <label for="consecutiveDividend">Number of Consecutive Years of Dividend Growth</label>
                        <input type="consecutiveDividend" name="consecutiveDividend" class="form-control" id="consecutiveDividend" value="<%= stock.consecutiveDividend %>">
                    </div>
                    <div class="form-group">
                        <label for="averageAnnualDividendGrowth">5YT Average Annual Dividend Growth</label>
                        <input type="averageAnnualDividendGrowth" name="averageAnnualDividendGrowth" class="form-control" id="averageAnnualDividendGrowth" value="<%= stock.averageAnnualDividendGrowth %>">
                    </div>
                    <div class="form-group">
                        <label for="averageAnnualEarningsGrowth">5YT Average Annual Earnings Growth</label>
                        <input type="averageAnnualEarningsGrowth" name="averageAnnualEarningsGrowth" class="form-control" id="averageAnnualEarningsGrowth" value="<%= stock.averageAnnualEarningsGrowth %>">
                    </div>
                    <div class="form-group">
                        <label for="dividendPayoutRatio">5YT Dividend Payout Ratio</label>
                        <input type="dividendPayoutRatio" name="dividendPayoutRatio" class="form-control" id="dividendPayoutRatio" value="<%= stock.dividendPayoutRatio %>">
                    </div>
                    <div class="form-group">
                        <label for="priceEarningsRatio">5YT Price-to-Earnings Ratio</label>
                        <input type="priceEarningsRatio" name="priceEarningsRatio" class="form-control" id="priceEarningsRatio" value="<%= stock.priceEarningsRatio %>">
                    </div>
                    <div class="form-group">
                        <label for="netProfitMargin">5YT Net Profit Margin</label>
                        <input type="netProfitMargin" name="netProfitMargin" class="form-control" id="netProfitMargin" value="<%= stock.netProfitMargin %>">
                    </div>
                    <div class="form-group">
                        <label for="returnOnEquityRatio">5YT Return-on-Equity Ratio</label>
                        <input type="returnOnEquityRatio" name="returnOnEquityRatio" class="form-control" id="returnOnEquityRatio" value="<%= stock.returnOnEquityRatio %>">
                    </div>
                    <div class="form-group">
                        <label for="quickRatio">5YT Acid Test (Quick) Ratio</label>
                        <input type="quickRatio" name="quickRatio" class="form-control" id="quickRatio" value="<%= stock.quickRatio %>">
                    </div>
                    <div class="form-group">
                        <label for="debtCoveringRatio">5YT Debt Covering Ratio</label>
                        <input type="debtCoveringRatio" name="debtCoveringRatio" class="form-control" id="debtCoveringRatio" value="<%= stock.debtCoveringRatio %>">
                    </div>
                    <div class="form-group">
                        <label for="freeCashFlow">1YT Free Cash Flow</label>
                        <input type="freeCashFlow" name="freeCashFlow" class="form-control" id="freeCashFlow" value="<%= stock.freeCashFlow %>">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            <% } %>
        </div>
    </body>

</html>