        <%- include('includes/header.ejs') %>

        <link rel="stylesheet" type="text/css" href="/css/sidenav.css">
        <link rel="stylesheet" type="text/css" href="/css/stock.css">

    </head>

    <body>

        <%- include('includes/sidenav.ejs') %>

        <div id="main">

            <button class="dark-mode-toggle" id="dark-mode-toggle" aria-label="toggle dark mode"><i class="fa fa-moon-o"></i></button>

            <h1 style="padding: 60px 0px 0px 60px; font-weight: 800; font-size: 50px;"><%= stock.name %></h1>
            <h3 style="padding: 10px 0px 60px 60px; font-weight: 800;"><%= stock.exchange %>
                <span>
                    - <%= stock.symbol %>
                </span>
            </h3>

            <h5 style="padding: 10px 0px 20px 60px; font-weight: 800;">General Overview</h5>
    
            <div class="generalInformation" style="padding: 40px 40px 20px 40px;">
                <table>
                    <tr>
                        <th class="generalInformationTable" style="font-weight: 800;">Sector</th>
                        <th class="generalInformationTable" style="font-weight: 800">Industry</th>
                        <th class="generalInformationTable" style="font-weight: 800">Common Shares Outstanding *</th>
                        <th class="generalInformationTable" style="font-weight: 800">Market Price Per Share *</th>
                        <th class="generalInformationTable" style="font-weight: 800">Market Capitalization *</th>
                        <th class="generalInformationTable" style="font-weight: 800">Beta</th>
                    </tr>
                    <tr>
                        <td class="generalInformationTable"><%= stock.sector %></td>
                        <td class="generalInformationTable"><%= stock.industry %></td>
                        <td class="generalInformationTable"><%= stock.commonSharesOutstanding %> M</td>
                        <td class="generalInformationTable"><%= stock.marketPricePerShare %> <%= stock.currency %></td>
                        <td class="generalInformationTable"><%= stock.marketCapitalization %> M <%= stock.currency %></td>
                        <td class="generalInformationTable"><%= stock.beta %></td>
                    </tr>
                </table>
            </div>

            <div style="float: right; padding: 20px 60px 0px 0px;"><i>* Common Shares Outstanding, Market Price Per Share & Market Capitalization are updated on a monthly basis.</i></div>
    
            <h5 style="padding: 80px 0px 20px 60px; font-weight: 800;">Dividend Investing Checklist</h5>
    
            <div class="dividendInvestingChecklist" style="padding: 45px 0px 20px 45px;">
                <table>
                    <tr>
                        <th class="dividendInvestingChecklistTable dividendHeaders" style="font-size: larger; font-weight: 800;">Metric</th>
                        <th class="dividendInvestingChecklistTable dividendHeaders" style="font-size: larger; font-weight: 800;">Target</th>
                        <th class="dividendInvestingChecklistTable dividendHeaders" style="font-size: larger; font-weight: 800;">Actual</th>
                        <th class="dividendInvestingChecklistTable dividendHeaders" style="font-size: larger; font-weight: 800;">Meets Target?</th>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">Current Annual Dividend Per Share (DPS)</th>
                        <td class="dividendInvestingChecklistTable">< EPS</td>
                        <td class="dividendInvestingChecklistTable">$<%= stock.currentAnnualDividendPerShare %></td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.currentAnnualDividendPerShare < stock.currentAnnualEarningsPerShare) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">Current Annual Earnings Per Share (EPS)</th>
                        <td class="dividendInvestingChecklistTable">> DPS</td>
                        <td class="dividendInvestingChecklistTable">$<%= stock.currentAnnualEarningsPerShare %></td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.currentAnnualEarningsPerShare > stock.currentAnnualDividendPerShare) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">Projected Annual Dividend</th>
                        <td class="dividendInvestingChecklistTable">> DPS</td>
                        <td class="dividendInvestingChecklistTable">$<%= stock.projectedAnnualDividend %></td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.projectedAnnualDividend > stock.currentAnnualDividendPerShare) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">10YT Dividend Yield (DY)</th>
                        <td class="dividendInvestingChecklistTable">3.075 - 6.15 %</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.dividendYield %> %</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.dividendYield >= 3.075 && stock.dividendYield <= 6.15) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">10YT Average Annual Share Price Growth</th>
                        <td class="dividendInvestingChecklistTable">> DY</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.averageAnnualSharePriceGrowth %> %</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.averageAnnualSharePriceGrowth > stock.dividendYield) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">10YT Annualized Total Return</th>
                        <td class="dividendInvestingChecklistTable">> 10 %</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.annualizedTotalReturn %> %</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.annualizedTotalReturn > 10) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">Number of Consecutive Years of Dividend Growth</th>
                        <td class="dividendInvestingChecklistTable">>= 10 Years</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.consecutiveDividend %> Year(s)</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.consecutiveDividend >= 10) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">5YT Average Annual Dividend Growth</th>
                        <td class="dividendInvestingChecklistTable">5 - 10 %</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.averageAnnualDividendGrowth %> %</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.averageAnnualDividendGrowth >= 5 && stock.averageAnnualDividendGrowth <= 10) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">5YT Average Annual Earnings Growth</th>
                        <td class="dividendInvestingChecklistTable">5 - 10 %</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.averageAnnualEarningsGrowth %> %</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.averageAnnualEarningsGrowth >= 5 && stock.averageAnnualEarningsGrowth <= 10) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">5YT Dividend Payout Ratio</th>
                        <td class="dividendInvestingChecklistTable">50 - 75 %</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.dividendPayoutRatio %> %</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.dividendPayoutRatio >= 50 && stock.dividendPayoutRatio <= 75) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">5YT Price-to-Earnings Ratio</th>
                        <td class="dividendInvestingChecklistTable">< Sector Average</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.priceEarningsRatio %></td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <i class="fa fa-ellipsis-h" style="color: gray;"></i>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">5YT Net Profit Margin</th>
                        <td class="dividendInvestingChecklistTable">> 5 %</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.netProfitMargin %> %</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.netProfitMargin > 5) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">5YT Return-on-Equity Ratio</th>
                        <td class="dividendInvestingChecklistTable">> 10 %</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.returnOnEquityRatio %> %</td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.returnOnEquityRatio > 10) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">5YT Quick Ratio</th>
                        <td class="dividendInvestingChecklistTable">1:1 - 2:1</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.quickRatio %></td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.quickRatio >= 1 && stock.quickRatio <= 2) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">5YT Debt Covering Ratio</th>
                        <td class="dividendInvestingChecklistTable">>= 2:1</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.debtCoveringRatio %></td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.debtCoveringRatio >= 2) { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th class="dividendInvestingChecklistTable" style="font-weight: 800">1YT Free Cash Flow</th>
                        <td class="dividendInvestingChecklistTable">3X > Dividends Paid</td>
                        <td class="dividendInvestingChecklistTable"><%= stock.freeCashFlow %></td>
                        <td class="dividendInvestingChecklistTable" id="performance">
                            <% if (stock.freeCashFlow === "Yes") { %>
                                <i class="fa fa-check" style="color: greenyellow;"></i>
                            <%} else { %>
                                <i class="fa fa-times" style="color: red;"></i>
                            <% } %>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="float: right; padding: 20px 60px 40px 0px;"><b style="font-weight: 800">Last Updated: </b><%= stock.updatedAt %></div>
        </div>
        
        <script src="/js/client/darkmode.js"></script>
        
    </body>

</html>